rules:

  - id: liquidity_ratio_check
    data_source:
      type: "sqlite"
      path: "finance.db"
      table: "metrics"
      url: ""
    metric: debt
    severity: medium
    condition: 
      operator: "<"
      threshold: 1400000
      near_breach_threshold_delta: 100000
    description: "Liquidity ratio must be at least 1.5 to avoid breach."
  - id: dscr_minimum_check
    data_source:
      type: "csv"
      path: "dscr_corporatelending.csv"
      table: ""
      url: ""
    metric: dscr
    severity: high
    condition:
      operator: ">="
      threshold: 1.20
    near_breach_threshold: 1.25
    description: "Debt Service Coverage Ratio (DSCR) must stay at or above 1.20 to avoid covenant breach."

  - id: dscr_delta_stability_check
    data_source:
      type: "csv"
      path: "dscr_corporatelending.csv"
      table: ""
      url: ""
    metric: delta
    severity: medium
    condition:
      operator: ">="
      threshold: 0.00
    near_breach_threshold: 0.03
    description: "Delta indicates deviation from DSCR threshold. Any negative delta signals a breach."

  - id: cfads_debtservice_coverage_check
    data_source:
      type: "csv"
      path: "dscr_corporatelending.csv"
      table: ""
      url: ""
    metric: "cfads"
    severity: high
    condition:
      operator: ">="
      threshold: 130
    near_breach_threshold: 5
    description: "CFADS to Debt Service ratio must remain above 1.20 to maintain compliance."
  #   sample rule:
  # - id: liquidity_ratio_check
  #   data_source:
  #     type: "sqlite" # can be csv | excel | sqlite | api
  #     path: "finance.db" # or file path for csv/excel 
  #     table: "metrics" # for sqlite only 
  #     url: "" # only for API 
  #   metric: debt
  #   severity: medium
  #   condition: 
  #     operator: ">=" # can be >= | <= | > | < 
  #     threshold: 1.5 # exact numeric value to compare against
  #   near_breach_threshold: 1.8 # exact numeric value to compare against 
  #   description: "Liquidity ratio must be at least 1.5 to avoid breach."